textarea {
    min-height: 400px;
}

body{
    background-color: white;
    color: black;
}

.email-info{
    padding-bottom:15px;
    border-bottom: 1px solid black;
}

.email-body{
    padding-top:15px;
}
      